@import "assets/styles/variables";
@import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: $bgColour;
    color: $fontColour;
    font-family: Helvetica;
}
.main{
    margin-left: 15%;
    margin-top: 5%;
}
.footer{
    width: 100%;
    background-color: $greenColour;
    color:$bgColour;
    font-family: monospace;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    p {
        margin-top: 10px;
    }
}
header ul{
    position: relative;
    font-size: 1.5rem;
    background-color: $greenColour;
    color: white;
    flex-wrap: wrap;
    top:0;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    li{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: $bgColour;
                text-decoration: none;
                margin: auto;
                border-bottom: 4px solid $greenColour;
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover{
                    animation-name: backgroundColorPalette;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                    background-color: $darkGreenColour;
                    border-bottom: 4px solid #08394e;
                }
            }

        }
}
#technologies-header{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .progressBarParent:hover {
        cursor: pointer;
    }

    h1{
        width: auto;
        justify-content: center;
    }
    div.row{
        width: 100%;
    }
    div .flex-column{
        display: inline-flex;
        padding: 10px;
        margin: 10px;
        background-color: $midBgColour;
        div p {
            margin-top: 10px;
            margin-bottom: 5px;
            div.nameWithLogo{
                justify-content: left;
                width: 100%;
                display: flex;
            }
            .icon{
                max-width: 3rem;
                max-height: 3rem;
            }
            h3{
                margin-left: 5px;
            }
        }
        .progressBar{
            border: 3px solid $darkerBgColour;
            height: 35px;
            width: 100%;
            color: $greenColour;
            &:hover {
                color: $darkerBgColour;
                transition: color .5s;
            }
            .progress{
                background-color: $greenColour;
                height: 100%;
                &-percent{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.paragraph{
    margin-bottom:10%;
}
#footer-components{
    display: flex;
    background: $midBgColour;
    margin-bottom: 0;
    flex-wrap: wrap;
    *{box-sizing: border-box;}
    .overall{
        position: relative;
        float: left;
    }
    .contact-form{
        h3, input, textarea{
            display: flex;
            justify-content: center;
        }
        input[type="text"], input[type="email"], textarea{
            width: 60%;
            height: 40px;
            text-decoration: none;
            color: $darkerGreenColour;
            text-align: center;
            margin: auto;
            font-weight: bold;
            border: $greenColour 3px solid;
            background-color: $darkerBgColour;
            font-size:0.8rem;
            &:hover{
                text-decoration: none;
                width: 61%;
            }
            &:focus{
                font-size:0.9rem;
                width: 65%;
                height: 42px;
                outline: none;
            }
        }
        div{
            margin-bottom: 10px;
            text-align: center;
            label{
                color: $greenColour;
                font-weight: bold;
            }
        }
        textarea{
            height: 250px;
            resize: none;
            padding-left: 5px;
            padding-top: 3px;
            font-size:0.8rem;
            &:hover{
                text-decoration: none;
                width: 61%;
            }
            &:focus{
                width: 65%;
                height: 250px;
                font-size:0.9rem;
                outline: none;
            }
        }
    }
    #github{
        text-align: center;
        .profilePicture{
            border-radius: 50%;
            max-width: 20%;
            margin-bottom: 20px;
        }

        @media (max-width: 991px){
            .profilePicture{
                margin-top:25px;
            }
        }

        p > strong {
            margin-right: 10px;
        }
        a {
            color: $greenColour;
        }
    }
}


.button{
    width: 25%;
    height: 45px;
    margin: auto;
    font-size:1.2rem;
    font-weight: bold;
    background-color: $greenColour;
    color: $bgColour;
    border: none;
    &, a{
        margin: auto;
        box-sizing: border-box;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 1rem;
        &:hover{
            color: $bgColour;
        }
    }
    &:hover{
        border: 4px solid $darkerBgColour;
    }
}
#technologies > .technology-desc-root{
    display: flex;
    flex-wrap: wrap;
    .technology-desc{
        margin: 10px 20%;
        &-header{
            background: $darkerBgColour;
            width: 100%;
            height: 60px;
            margin: 0;
            align-content: center;
            display: grid;
            padding: 0 2%;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.6rem;
        }
        &-content{
            background: $midBgColour;
            width: 100%;
            padding: 15px 5%;
            font-size: 1.3rem;
        }
    }
}

@keyframes backgroundColorPalette {
    0% {
      color: #0B4F6C;
      border-color: #0B4F6C;
        background-color: $darkGreenColour;
    }
    33% {
      color: #a401ef;
      border-color: #a401ef;
        background-color: $darkGreenColour;
    }
    66% {
        color: #DA2C38;
        border-color: #DA2C38;
        background-color: $darkGreenColour;
    }
}
