<!DOCTYPE html>
<html>
<head>
    {% block title %}
    {% endblock %}
    <meta charset="utf-8">
    {#    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>#}
    {% block styles %}
        {{ encore_entry_link_tags('index_style') }}
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block footer %}
            <div class="footer">
                <h3>Designed & Developed by Wojciech Prusaczyk 2022</h3>
            </div>
        {% endblock %}
    {% endblock %}
    {% block scripts %}

    {% endblock %}
</body>
</html>