{% extends 'base.html.twig' %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block body %}
    <div class='row sidebar w-100 m-0 p-0'>
        <li class="col-lg-3 col-sm-6 text-center pt-2">
            <a href='https://github.com/WojciechPrusaczyk'>
                <i class='bx bxl-github'></i>
                <p>&nbsp&nbspMy GitHub</p>
            </a>

        </li>

        <li class="col-lg-3 col-sm-6 text-center pt-2">
            <a href='#'>
                <i class='bx bxs-trophy' ></i>
                <p>Achievements</p>
            </a>

        </li>

        <li class="col-lg-3 col-sm-6 text-center pt-2">
            <a href='#'>
                <i class='bx bx-code-curly' ></i>
                <p>Technologies</p>
            </a>

        </li>

        <li class="col-lg-3 col-sm-6 text-center pt-2">
            <a href='#'>
                <i class='bx bxs-contact' ></i>
                 <p>Contact me</p>
            </a>
        </li>
    </div>

    <div class='main paragraph'>
        <h1>Hello World!</h1>
        <h1>My name is Wojciech Prusaczyk!</h1>
        <br>
        <p>
                <h2>Welcome to my portfolio website</h2>
                My dream since 2012 is to become a "Web Developer". <br>
                Once i created my first Website i promised myself, <br>
                that someday this dream will become true. <br>
                <br>
                Check the links on the navigation bar to learn more about me :)
        </p>
        </div>

        <div class="achievements paragraph">
            &nbsp
        </div>

        <div class="technologies paragraph row m-0">

            <div class="col-xl-3 col-md-6 col-sm-12 m-auto">
                <div>

                <h3>Programming languages</h3><br>

                <img src="../../myPortfolio/assets/images/PHP.png" alt="PHP" class="img-fluidS w-25 m-0">&nbspPHP
                <div class="progressBar m-0">
                    <div class="progress" style="width: 60%;"></div>
                </div>
                <p style="width: 10px; height: 10px; display: block; border: 2px solid black; font-size: 1.0em;">
                    przykładowy opis
                </p>
                <br><br>


                <div class="progressBar">
                    <div class="progress" style="width: 43%;"></div>
                </div>
                <h3><img src="../../myPortfolio/assets/images/JS.png" alt="PHP" class="img-fluidS w-25">JavaScript</h3><br>


                <div class="progressBar">
                    <div class="progress" style="width: 35%;"></div>
                </div>
                <h3><img src="../../myPortfolio/assets/images/VB.png" alt="PHP" class="img-fluidS w-25">VBA</h3><br><br>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 m-auto">
                <h3>Frameworks and DataBases</h3><br>

                <div class="progressBar">
                    <div class="progress" style="width: 40%;">

                    </div>
                </div>
                <h3><img src="../../myPortfolio/assets/images/Symfony.png" alt="PHP" class="img-fluidS w-25">Symfony</h3><br>

                <div class="progressBar">
                    <div class="progress" style="width: 15%;">

                    </div>
                </div>
                <h3><img src="../../myPortfolio/assets/images/ReactJS.png" alt="PHP" class="img-fluidS w-25">React.JS</h3><br>

                <div class="progressBar">
                    <div class="progress" style="width: 75%;">

                    </div>
                </div>
                <h3><img src="../../myPortfolio/assets/images/MariaDB.png" alt="PHP" class="img-fluidS w-25">MariaDB</h3><br>

                <div class="progressBar">
                    <div class="progress" style="width: 90%;">

                    </div>
                </div>
                <h3><img src="../../myPortfolio/assets/images/Excel.png" alt="PHP" class="img-fluidS w-25">
                    <img src="../../myPortfolio/assets/images/Access.png" alt="PHP" class="img-fluidS w-25">
                    MsExcel / MsAccess</h3><br>

            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 m-auto">
                <h3>Other tools</h3><br>

                <div class="progressBar">
                    <div class="progress" style="width: 75%;"></div>
                </div>
                <h3><img src="../../myPortfolio/assets/images/HTML5.png" alt="PHP" class="img-fluidS w-25">HTML5</h3><br>

                <div class="progressBar">
                    <div class="progress" style="width: 68%;"></div>
                </div>
                <h3><img src="../../myPortfolio/assets/images/CSS3.png" alt="PHP" class="img-fluidS w-25">CSS3 / SASS</h3><br>
            </div>



        </div>
        <div class="about-me paragraph">

        </div>
        <div class="contact paragraph row w-100 m-0 p-0">
            <div class="contact-form overall col-lg-6 col-md-12 my-5">
                <form action="mailer.php" method="POST">
                    <input type="text" name="name" value="Your Name" onfocus="if(value=='Your Name'){value=''}" onblur="if(value==''){value='Your Name'}"><br>

                    <input type="text" name="email" value="Your email address" onfocus="if(value=='Your email address'){value=''}" onblur="if(value==''){value='Your email address'}"><br>

                    <input type="text" name="phone" value="Your Mobile phone number" onfocus="if(value=='Your Mobile phone number'){value=''}" onblur="if(value==''){value='Your Mobile phone number'}"><br>

                    <input type="text" name="title" value="Submission" onfocus="if(value=='Submission'){value=''}" onblur="if(value==''){value='Submission'}"><br>

                    <textarea type="text" name="text" onload="value='Write your message here'" onfocus="if(value=='Write your message here'){value=''}" onblur="if(value==''){value='Write your message here'}"></textarea><br>

                    <br>
                    <input type="submit" value="Send" name="submit" onclick="style.color='#FBFBFF';style.borderColor='#FBFBFF';setTimeout(() => { style.color='#0B4F6C';style.borderColor='#0B4F6C'; }, 100);">
                    <?php
                        /*
                    if(isset($_POST['submit'])){
                        $mail['senderName'] = $_POST['name'];
                        $mail['senderMail'] = $_POST['email'];
                        $mail['recieverMail'] = "woj.prusaczyk@gmail.com";
                        $mail['senderPhoneNumber'] = $_POST['phone'];
                        $mail['message'] = $_POST['text'];
                        $mail['submission'] = $_POST['title'];

                        $addition = "From: " . $mail['senderMail'] . ", phoneNumber: " . $mail['senderPhoneNumber'];
                        mail("woj.prusaczyk@gmail.com", "temat", "wiadomość", $addition);
                    }*/
                    ?>
                </form>
            </div>
            <div class="contact-graphic overall col-lg-6 col-md-12">
                Git
            </div>
        </div>

        <div>

        </div>
        <div class="footer">
            <h3>Designed & Developed by Wojciech Prusaczyk 2022</h3>
        </div>
    </div>
{% endblock %}